.badge {
	align-items: center;
	background: $color-danger;
	border-radius: 50%;
	color: $color-white;
	display: flex;
	font-size: 9px;
	font-weight: $font-weight-bold;
	height: 12px;
	justify-content: center;
	position: absolute;
	right: -9px;
	top: -5px;
	width: 12px;
}
