.structure-reloader {
	display: inline-block;

	button {
		background: none !important;
		border: 0;
		color: $color-white !important;
		cursor: pointer;
		display: inline-block;
		padding: 0 !important;
		text-decoration: none !important;

		i {
			width: 14px;
		}

		&:hover {
			color: $color-white !important;
		}
	}
}
