VITE_LOCAL_STUDIO=true
VITE_CENTRAL_MANAGER_API_URL="http://localhost:9925" # URL for Fabric API
VITE_REO_DEV_CLIENT_ID=0
VITE_HOST=localhost

# when running in dev:local
VITE_LOCAL_STUDIO_DEV_URL=http://localhost:9952
