{
	"printWidth": 120,
	"quoteProps": "consistent",
	"singleQuote": true,
	"trailingComma": "es5",
	"useTabs": true,
	"endOfLine": "auto",
	"tabWidth": 2,
	"semi": true,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"arrowParens": "always"
}
