.directoryReadMe {
	padding: 40px 24px 6px;

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.3rem;
	}

	h5 {
		font-size: 1.2rem;
	}

	p + p, h1 + p, h2 + p, h3 + p, h4 + p, h5 + p {
		margin-top: 12px;
	}

	code {
		background-color: black;
	}

	p > code {
		padding: 2px 4px;
		margin: -2px 2px;
	}

	pre > code {
		display: block;
		margin: 12px 0;
		padding: 12px;
		border-radius: 2px;
		box-shadow: rgba(255, 255, 255, 0.1) 1px 1px;
	}

	a {
		text-decoration: underline;

		&:hover {
			color: var(--green);
		}
	}
}
